<h2>Sign up</h2>

<%= form_with scope: :registration, local: true, url: user_registration_path do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= form.label :password %><br />
    <%= form.text_field :password, autofocus: true, autocomplete: "password" %>
  </div>

  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
