<h2>Sign up</h2>

<%= form_with scope: :registration, local: false, url: user_registration_path, id: "new-registration", data: { controller: "new-registration", action: "ajax:success->new-registration#create ajax:error->new-registration#error" } do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
  <div class="field">
    <%= form.label :label %><br />
    <%= form.text_field :label, autofocus: true, autocomplete: "label" %>
  </div>
 
  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
