<h1>User Information</h1>
<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Credentials:</strong> 

<table>
  <tbody>
    <% @user.credentials.each do |credential| %>
      <tr>
        <td><%= credential.label %></td>
        <% if @user.credentials.size > 1 %>
            <td>
                <%= button_to destroy_credential_path(id: credential.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    Delete
                <% end %>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</br>

<div>
    <%= form_with scope: :credential,
        url: add_credential_path,
        local: false, 
        data: { controller: "add-credential", action: "ajax:success->add-credential#create" } do |form| %>
        <div>
            <%= form.submit "Add Credential" %>
            <%= form.text_field :label, placeholder: "Label", required: true %>
        </div>
    <% end %>
</div>
