<h2>Log in</h2>

<%= form_with scope: :session, local: true, url: user_session_path do |form| %>
  <div class="field">
    <%= form.label :email %><br />
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= form.label :password %><br />
    <%= form.text_field :password, autofocus: true, autocomplete: "password" %>
  </div>
 
  <div class="actions">
    <%= form.submit "Log in" %>
  </div>
<% end %>
